

.instaBox {
    max-width: 1024px;
    margin: 0 auto;

    /*border: 1px solid white;*/
}

.box1 {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box11 {
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    border-left: 2px solid var(--zlatna);
    flex: 1;
}

.box12 {
    flex: 1;
}

.instaImgVelikaWrap {
    width: 70%;
    margin: auto;
}
.instaImgVelikaWrap p {
    color: white;
    border-left: 2px solid var(--zlatna);
    padding: 1rem;
    margin-top: 0.8rem;
}

.instaImgVelika {
    width: 100%;
}

.box2 {
    margin: 2rem 0 4rem 0;


    /*border: 1px solid blue;*/
}

.box21 {
    display: inline-block;
}

.box21 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: var(--zlatna);
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
.box21 p {
    padding-left: 0.4rem;
}


.box22 {
    display: flex;
    justify-content: space-between;
}
.box22Slicica:nth-child(odd) {
    transform: translateY(10%)
}
.box22Slicica:nth-child(even) {
    transform: translateY(-10%)
}

.box22Slicica {
    width: 150px;
    opacity: 0.8;
    transition: 0.8s ease;
    border: 1px solid var(--zlatna);
}
/*.box22Slicica:hover {*/
/*    opacity: 1;*/
/*    !*transform: scale(1.01);*!*/
/*    transform: translateY(0);*/
/*}*/

.box22:hover > :not(:hover) {
    opacity: 0.4;
}



@media screen and (max-width: 500px) {
    .box1 {
        flex-direction: column;
        padding: 1rem;
    }
    .instaImgVelikaWrap {
        width: 100%;
        margin-top: 2rem;
    }

    .box22 {
        flex-direction: column;
        gap: 1rem;
    }
    .box22Slicica:nth-child(odd) {
    transform: translateY(0)
    }
    .box22Slicica:nth-child(even) {
        transform: translateY(0)
    }

    .box22Slicica {
        width: 90%;
        margin: 0 auto;
        /*border: 1px solid var(--zlatna);*/
    }

}










